
@layer base {
  body {
    @apply bg-background text-foreground font-pixel;
    font-size: 8px;
    letter-spacing: 0.05em;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-pixel;
    line-height: 1.6;
  }
}

/* Анимация градиентного фона */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}
